:root {
  --background-color: #121212;
  --primary-color: #1f1f1f;
  --secondary-color: #292929;
  --accent-color: #bb86fc;
  --text-color: #e0e0e0;
  --link-color: #03dac6;
  --border-color: #ffffff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--background-color);
  border: var(--border-color) 2px solid;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  margin-left: 10px;
}

.search-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ViewAssignedUsersBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ViewAssignedUsersBtn:hover,
.close-button:hover {
  background: var(--link-color);
}