:root {
  --background-color: #121212;
  --primary-color: rgb(31, 31, 31);
  --secondary-color: rgb(41, 41, 41);
  --accent-color: rgb(187, 134, 252);
  --text-color: rgb(224, 224, 224);
  --link-color: rgb(3, 218, 198);
  --border-color: rgb(51, 51, 51);
}

.OverallAdminDashboardCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AdminTitle {
  color: var(--accent-color);
}

.AllCompaniesTable {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

.TableHeader th,
.TableBody td {
  padding: 15px;
  text-align: left;
}

.TableHeader th {
  background-color: var(--secondary-color);
}

.TableBody td {
  background-color: var(--primary-color);
}

a {
  color: var(--link-color);
}

.OverallAdminDashboardCont {
  text-align: left;
}

.CompanyNameTh,
.CompanyAdminTh,
.CompanyPersonalTh,
.CompanyUserCountTh,
.CompanyInvitedTh {
  border: 2px var(--border-color) solid;
}

.CompanyNameTd,
.CompanyAdminTd,
.CompanyPersonalTd,
.CompanyUserCountTd,
.CompanyInvitedTd {
  border: 2px var(--border-color) solid;
  padding: 20px;
}
@media (max-width: 760px) {
  .AllCompaniesTable {
    width: 90%;
  }
  .TableHeader th,
  .TableBody td {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }
}
